<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Administrators</key>
	<array>
		<dict>
			<key>firstName</key>
			<string>Admin</string>
			<key>lastName</key>
			<string></string>
			<key>username</key>
			<string>admin</string>
			<key>password</key>
			<string>poacmf</string>
		</dict>
	</array>
	<key>Students</key>
	<array>
		<dict>
			<key>firstName</key>
			<string>Kathy</string>
			<key>lastName</key>
			<string></string>
			<key>username</key>
			<string>kathy</string>
			<key>password</key>
			<string>test</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>Chris</string>
			<key>lastName</key>
			<string>Vanderschuere</string>
			<key>username</key>
			<string>chris</string>
			<key>password</key>
			<string>test</string>
		</dict>
	</array>
	<key>Questions Sets</key>
	<array>
		<array>
			<integer>0</integer>
			<array>
				<dict>
					<key>name</key>
					<string>Set A</string>
					<key>questions</key>
					<array>
						<array>
							<integer>0</integer>
							<integer>0</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>1</integer>
							<integer>0</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>2</integer>
							<integer>0</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>3</integer>
							<integer>0</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>4</integer>
							<integer>0</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>5</integer>
							<integer>0</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>6</integer>
							<integer>0</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>7</integer>
							<integer>0</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>8</integer>
							<integer>0</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>9</integer>
							<integer>0</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>10</integer>
							<integer>0</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set B</string>
					<key>questions</key>
					<array>
						<array>
							<integer>2</integer>
							<integer>1</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>1</integer>
							<integer>2</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>3</integer>
							<integer>1</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>1</integer>
							<integer>3</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set C</string>
					<key>questions</key>
					<array>
						<array>
							<integer>4</integer>
							<integer>1</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>1</integer>
							<integer>4</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>1</integer>
							<integer>1</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set D</string>
					<key>questions</key>
					<array>
						<array>
							<integer>5</integer>
							<integer>1</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>1</integer>
							<integer>5</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>2</integer>
							<integer>2</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set E</string>
					<key>questions</key>
					<array>
						<array>
							<integer>6</integer>
							<integer>1</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>1</integer>
							<integer>6</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>3</integer>
							<integer>3</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set F</string>
					<key>questions</key>
					<array>
						<array>
							<integer>7</integer>
							<integer>1</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>1</integer>
							<integer>7</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>4</integer>
							<integer>4</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set G</string>
					<key>questions</key>
					<array>
						<array>
							<integer>8</integer>
							<integer>1</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>1</integer>
							<integer>8</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>5</integer>
							<integer>5</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set H</string>
					<key>questions</key>
					<array>
						<array>
							<integer>9</integer>
							<integer>1</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>1</integer>
							<integer>9</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>6</integer>
							<integer>6</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set I</string>
					<key>questions</key>
					<array>
						<array>
							<integer>2</integer>
							<integer>3</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>3</integer>
							<integer>2</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>7</integer>
							<integer>7</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set J</string>
					<key>questions</key>
					<array>
						<array>
							<integer>4</integer>
							<integer>2</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>2</integer>
							<integer>4</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>8</integer>
							<integer>8</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set K</string>
					<key>questions</key>
					<array>
						<array>
							<integer>5</integer>
							<integer>2</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>2</integer>
							<integer>5</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>9</integer>
							<integer>9</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set L</string>
					<key>questions</key>
					<array>
						<array>
							<integer>6</integer>
							<integer>2</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>2</integer>
							<integer>6</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>10</integer>
							<integer>10</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set M</string>
					<key>questions</key>
					<array>
						<array>
							<integer>7</integer>
							<integer>2</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>2</integer>
							<integer>7</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>4</integer>
							<integer>7</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>7</integer>
							<integer>4</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set N</string>
					<key>questions</key>
					<array>
						<array>
							<integer>8</integer>
							<integer>2</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>2</integer>
							<integer>8</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>6</integer>
							<integer>8</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>8</integer>
							<integer>6</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set O</string>
					<key>questions</key>
					<array>
						<array>
							<integer>9</integer>
							<integer>2</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>2</integer>
							<integer>9</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>6</integer>
							<integer>8</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>8</integer>
							<integer>6</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set P</string>
					<key>questions</key>
					<array>
						<array>
							<integer>4</integer>
							<integer>3</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>3</integer>
							<integer>4</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>6</integer>
							<integer>7</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>7</integer>
							<integer>6</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set Q</string>
					<key>questions</key>
					<array>
						<array>
							<integer>5</integer>
							<integer>3</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>3</integer>
							<integer>5</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>7</integer>
							<integer>8</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>8</integer>
							<integer>7</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set R</string>
					<key>questions</key>
					<array>
						<array>
							<integer>5</integer>
							<integer>8</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>8</integer>
							<integer>5</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>7</integer>
							<integer>9</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>9</integer>
							<integer>7</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set S</string>
					<key>questions</key>
					<array>
						<array>
							<integer>6</integer>
							<integer>3</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>3</integer>
							<integer>6</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>5</integer>
							<integer>9</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>9</integer>
							<integer>5</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set T</string>
					<key>questions</key>
					<array>
						<array>
							<integer>7</integer>
							<integer>3</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>3</integer>
							<integer>7</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>8</integer>
							<integer>9</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>9</integer>
							<integer>8</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set U</string>
					<key>questions</key>
					<array>
						<array>
							<integer>8</integer>
							<integer>3</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>3</integer>
							<integer>8</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>4</integer>
							<integer>9</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>9</integer>
							<integer>4</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set V</string>
					<key>questions</key>
					<array>
						<array>
							<integer>9</integer>
							<integer>3</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>3</integer>
							<integer>9</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>5</integer>
							<integer>7</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>7</integer>
							<integer>5</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set W</string>
					<key>questions</key>
					<array>
						<array>
							<integer>4</integer>
							<integer>5</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>5</integer>
							<integer>4</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>4</integer>
							<integer>8</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>8</integer>
							<integer>4</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set X</string>
					<key>questions</key>
					<array>
						<array>
							<integer>4</integer>
							<integer>6</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>6</integer>
							<integer>4</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>5</integer>
							<integer>6</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>6</integer>
							<integer>5</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set Y</string>
					<key>questions</key>
					<array>
						<array>
							<integer>4</integer>
							<integer>5</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>5</integer>
							<integer>4</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>4</integer>
							<integer>8</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>8</integer>
							<integer>4</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set Z</string>
					<key>questions</key>
					<array>
						<array>
							<integer>4</integer>
							<integer>6</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>6</integer>
							<integer>4</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>5</integer>
							<integer>6</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>6</integer>
							<integer>5</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
			</array>
		</array>
		<array>
			<integer>1</integer>
			<array>
				<dict>
					<key>name</key>
					<string>Set A</string>
					<key>questions</key>
					<array>
						<array>
							<integer>1</integer>
							<integer>0</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>1</integer>
							<integer>1</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>2</integer>
							<integer>0</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>2</integer>
							<integer>2</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>3</integer>
							<integer>0</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>3</integer>
							<integer>3</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>4</integer>
							<integer>0</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>4</integer>
							<integer>4</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>5</integer>
							<integer>0</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>5</integer>
							<integer>5</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>6</integer>
							<integer>0</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>6</integer>
							<integer>6</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>7</integer>
							<integer>0</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>7</integer>
							<integer>7</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>8</integer>
							<integer>0</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>8</integer>
							<integer>8</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>9</integer>
							<integer>0</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>9</integer>
							<integer>9</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>10</integer>
							<integer>0</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>10</integer>
							<integer>10</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set B</string>
					<key>questions</key>
					<array>
						<array>
							<integer>3</integer>
							<integer>1</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>3</integer>
							<integer>2</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>4</integer>
							<integer>1</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>4</integer>
							<integer>3</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set C</string>
					<key>questions</key>
					<array>
						<array>
							<integer>5</integer>
							<integer>1</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>5</integer>
							<integer>4</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>2</integer>
							<integer>1</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set D</string>
					<key>questions</key>
					<array>
						<array>
							<integer>6</integer>
							<integer>1</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>6</integer>
							<integer>5</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>4</integer>
							<integer>2</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set E</string>
					<key>questions</key>
					<array>
						<array>
							<integer>7</integer>
							<integer>1</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>7</integer>
							<integer>6</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>6</integer>
							<integer>3</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set F</string>
					<key>questions</key>
					<array>
						<array>
							<integer>8</integer>
							<integer>1</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>8</integer>
							<integer>7</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>8</integer>
							<integer>4</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set G</string>
					<key>questions</key>
					<array>
						<array>
							<integer>9</integer>
							<integer>1</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>9</integer>
							<integer>8</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>10</integer>
							<integer>5</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set H</string>
					<key>questions</key>
					<array>
						<array>
							<integer>10</integer>
							<integer>1</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>10</integer>
							<integer>9</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set I</string>
					<key>questions</key>
					<array>
						<array>
							<integer>5</integer>
							<integer>3</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>5</integer>
							<integer>2</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>12</integer>
							<integer>6</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set J</string>
					<key>questions</key>
					<array>
						<array>
							<integer>6</integer>
							<integer>2</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>6</integer>
							<integer>4</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>14</integer>
							<integer>7</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set K</string>
					<key>questions</key>
					<array>
						<array>
							<integer>7</integer>
							<integer>2</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>7</integer>
							<integer>5</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>16</integer>
							<integer>8</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set L</string>
					<key>questions</key>
					<array>
						<array>
							<integer>8</integer>
							<integer>2</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>8</integer>
							<integer>6</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>18</integer>
							<integer>9</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set M</string>
					<key>questions</key>
					<array>
						<array>
							<integer>9</integer>
							<integer>2</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>9</integer>
							<integer>7</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>11</integer>
							<integer>7</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>11</integer>
							<integer>4</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set N</string>
					<key>questions</key>
					<array>
						<array>
							<integer>10</integer>
							<integer>2</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>10</integer>
							<integer>8</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>14</integer>
							<integer>8</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>14</integer>
							<integer>6</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set O</string>
					<key>questions</key>
					<array>
						<array>
							<integer>11</integer>
							<integer>2</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>11</integer>
							<integer>9</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>15</integer>
							<integer>9</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>15</integer>
							<integer>6</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set P</string>
					<key>questions</key>
					<array>
						<array>
							<integer>7</integer>
							<integer>3</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>7</integer>
							<integer>4</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>13</integer>
							<integer>7</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>13</integer>
							<integer>6</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set Q</string>
					<key>questions</key>
					<array>
						<array>
							<integer>8</integer>
							<integer>3</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>8</integer>
							<integer>5</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>15</integer>
							<integer>8</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>15</integer>
							<integer>7</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set R</string>
					<key>questions</key>
					<array>
						<array>
							<integer>13</integer>
							<integer>8</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>13</integer>
							<integer>5</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>16</integer>
							<integer>9</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>16</integer>
							<integer>7</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set S</string>
					<key>questions</key>
					<array>
						<array>
							<integer>9</integer>
							<integer>3</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>9</integer>
							<integer>6</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>14</integer>
							<integer>9</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>14</integer>
							<integer>5</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set T</string>
					<key>questions</key>
					<array>
						<array>
							<integer>10</integer>
							<integer>3</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>10</integer>
							<integer>7</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>17</integer>
							<integer>9</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>17</integer>
							<integer>8</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set U</string>
					<key>questions</key>
					<array>
						<array>
							<integer>11</integer>
							<integer>3</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>11</integer>
							<integer>8</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>13</integer>
							<integer>9</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>13</integer>
							<integer>4</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set V</string>
					<key>questions</key>
					<array>
						<array>
							<integer>12</integer>
							<integer>3</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>12</integer>
							<integer>9</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>12</integer>
							<integer>7</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>12</integer>
							<integer>5</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set W</string>
					<key>questions</key>
					<array>
						<array>
							<integer>9</integer>
							<integer>5</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>9</integer>
							<integer>4</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>12</integer>
							<integer>8</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>12</integer>
							<integer>4</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set X</string>
					<key>questions</key>
					<array>
						<array>
							<integer>10</integer>
							<integer>6</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>10</integer>
							<integer>4</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>11</integer>
							<integer>6</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>11</integer>
							<integer>5</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
			</array>
		</array>
		<array>
			<integer>2</integer>
			<array>
				<dict>
					<key>name</key>
					<string>Set A</string>
					<key>questions</key>
					<array>
						<array>
							<integer>0</integer>
							<integer>1</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>1</integer>
							<integer>1</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>2</integer>
							<integer>1</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>3</integer>
							<integer>1</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>4</integer>
							<integer>1</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>5</integer>
							<integer>1</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>6</integer>
							<integer>1</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>7</integer>
							<integer>1</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>8</integer>
							<integer>1</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set B</string>
					<key>questions</key>
					<array>
						<array>
							<integer>0</integer>
							<integer>0</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>1</integer>
							<integer>0</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>2</integer>
							<integer>0</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>3</integer>
							<integer>0</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>4</integer>
							<integer>0</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>5</integer>
							<integer>0</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>6</integer>
							<integer>0</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>7</integer>
							<integer>0</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>8</integer>
							<integer>0</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>9</integer>
							<integer>0</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>10</integer>
							<integer>0</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set C</string>
					<key>questions</key>
					<array>
						<array>
							<integer>2</integer>
							<integer>3</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>3</integer>
							<integer>2</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>2</integer>
							<integer>2</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>3</integer>
							<integer>3</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set D</string>
					<key>questions</key>
					<array>
						<array>
							<integer>2</integer>
							<integer>4</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>4</integer>
							<integer>2</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>5</integer>
							<integer>2</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>2</integer>
							<integer>5</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set E</string>
					<key>questions</key>
					<array>
						<array>
							<integer>2</integer>
							<integer>6</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>6</integer>
							<integer>2</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>7</integer>
							<integer>2</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>2</integer>
							<integer>7</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set F</string>
					<key>questions</key>
					<array>
						<array>
							<integer>2</integer>
							<integer>8</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>8</integer>
							<integer>2</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>9</integer>
							<integer>2</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>2</integer>
							<integer>9</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set G</string>
					<key>questions</key>
					<array>
						<array>
							<integer>3</integer>
							<integer>9</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>9</integer>
							<integer>3</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>9</integer>
							<integer>4</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>4</integer>
							<integer>9</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set H</string>
					<key>questions</key>
					<array>
						<array>
							<integer>3</integer>
							<integer>9</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>9</integer>
							<integer>3</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>3</integer>
							<integer>3</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set I</string>
					<key>questions</key>
					<array>
						<array>
							<integer>4</integer>
							<integer>9</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>9</integer>
							<integer>4</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>4</integer>
							<integer>4</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Set J</string>
					<key>questions</key>
					<array>
						<array>
							<integer>5</integer>
							<integer>9</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>9</integer>
							<integer>5</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>5</integer>
							<integer>5</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
			</array>
		</array>
		<array>
			<integer>3</integer>
			<array>
				<dict>
					<key>name</key>
					<string>Set A</string>
					<key>questions</key>
					<array>
						<array>
							<integer>1</integer>
							<integer>1</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>2</integer>
							<integer>1</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>3</integer>
							<integer>1</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>4</integer>
							<integer>1</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>5</integer>
							<integer>1</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>6</integer>
							<integer>1</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>7</integer>
							<integer>1</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>8</integer>
							<integer>1</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>9</integer>
							<integer>1</integer>
							<integer>-1</integer>
						</array>
						<array>
							<integer>10</integer>
							<integer>1</integer>
							<integer>-1</integer>
						</array>
					</array>
				</dict>
			</array>
		</array>
	</array>
</dict>
</plist>
